# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# .gitignore: Turborepo, NestJS, Next.js

# 운영체제 관련 파일
.DS_Store

# 의존성 디렉토리
node_modules/
.pnp/
.pnp.js

# 환경 변수 파일
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# NestJS 빌드 출력
dist/

# Next.js 빌드 출력
.next/
out/
build/

# Turborepo 캐시 및 빌드 출력
.turbo/
.cache/

# Vercel 배포 관련
.vercel/

# 테스트 결과
coverage/
.nyc_output/

# 로그 파일 및 디버그 파일
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDE 및 에디터 설정
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# 임시 파일 및 디렉토리
.temp/
.tmp/

# Node.js 진단 보고서
report.*.*.*.*.json
